:root {
  --primary-main: #4f46e5;
  --secondary-main: #14b8a6;
  --background-default: #0f172a;
  --background-paper: #020617;
}

a {
  text-decoration: none;
  color: var(--secondary-main);
}

.appBoxShadow {
  box-shadow: 0 0 1px rgba(2, 31, 59, 0.7), 1px 1.5px 2px -1px rgba(2, 31, 59, 0.65),
    4px 4px 12px -2.5px rgba(2, 31, 59, 0.65);
}
